* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    text-underline: none;
    color: black;
}
body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.page {
    width: 700px;
    background-color: antiquewhite;
    margin: 20px auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    padding: 10px;
}

h1 {
    border-bottom: 1px solid black;
}


.acc-item {
    border-bottom: 1px solid black;
}

.acc-item .acc-item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.acc-item .acc-item-body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: all ease-in 0.3s;
    opacity: 0;
    top: -100%;
    height: 0;
    z-index: -1;
}

.acc-item:hover .acc-item-body,
.acc-item:target .acc-item-body{
    top: 0;
    opacity: 1;
    height: 300px;
    z-index: 0;
}

.acc-item .acc-item-body img {
    height: inherit;
    max-height: 400px;
}

.icons {
    position: relative;
}

.open {
    opacity: 0;
    position: absolute;
    top: -100%;
    right: 0;
    transition: all ease-in 0.3s;
}

.close {
    opacity: 0;
    position: absolute;
    top: -100%;
    right: 0;
    transition: all ease-in 0.3s;
}

.page:hover .open {
    opacity: 1;
    top: 0;
}

.acc-item:target .close,
.acc-item:hover .close {
    opacity: 1;
    bottom: 0;
}

.acc-item:target .open,
.acc-item:hover .open {
    opacity: 0;
    top: -100%;
}